/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

.complete:hover {
    with: 100%;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

td {
    text-align: center;
    vertical-align: middle;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.center-block ul {
    position: relative;
    left: 50%;
    float: left;
    margin-right: 0;
    margin-left: 0;
}

.center-block li {
    position: relative;
    right: 50%;
    float: left;
    margin: 0;
    list-style: none
}

.todo-input {
    width: 100%;
    text-align: center;
    display: ;
}